<br><br><br><br>
<div class="container-fluid">
    <app-editor [data]="products" *ngIf="vieweditor"></app-editor>
</div>

<br><br>
<div class="container" *ngIf="hideprinted" >
        <div class="row">
            <div class="col-6 " >
                <!-- Save Cloth -->
                <div class="container mt-3">
                   
                    <h4>Details Du Produit Imprimé</h4>
                    <form>
                        <div class="mb-3 mt-3">
                            <label for="name">Nom De l'article:</label>
                            <input type="name" class="form-control" id="name" placeholder="Nom du produit" name="name" [(ngModel)]="articlename">
                        </div>
                        <div class="mb-3">
                            <label for="price">Prix:</label>
                            <input type="text" class="form-control" id="price" placeholder="Le prix" name="price" [(ngModel)]="price">
                        </div>
                        <div class="mb-3">
                            <label for="price">Prix Promo:</label>
                            <input type="text" class="form-control" id="ppromo" placeholder="Prix Promotionnel" name="ppromo" [(ngModel)]="promoprice">
                        </div>
                        <div class="mb-3">
                            <label for="dimension">Dimension:</label>
                            <input type="text" class="form-control" id="size" placeholder="Taille" name="size" [(ngModel)]="dimension">
                        </div>
                        <!--<div class="mb-3">
                            <label for="grammage">Grammage:</label>
                            <input type="text" class="form-control" id="gram" placeholder="Selectionnez le grammage" name="grammage" [(ngModel)]="grammage">
                        </div>-->
                        <!--<div class="mb-3">
                            <label for="pellicule">Pelliculage:</label>
                            <input type="text" class="form-control" id="matiere" placeholder="Matière" name="matière" [(ngModel)]="pellicule">
                        </div>-->
                        <div class="mb-3">
                            <label for="border">Bordure:</label>
                            <input type="text" class="form-control" id="matiere" placeholder="Matière" name="matière" [(ngModel)]="border">
                        </div>
                        <div class="mb-3">
                            <label for="matiere">Volet:</label>
                            <input type="text" class="form-control" id="volet" placeholder="Volet" name="volet" [(ngModel)]="volet">
                        </div>
                        <div class="mb-3">
                            <label for="matiere">Quantity:</label>
                            <input type="text" class="form-control" id="qty_disp" placeholder="Selectionnez la quantité disponible du produit" name="quantity" [(ngModel)]="quantity">
                        </div>
                        <label for="comment">Description:</label>
                        <textarea class="form-control" rows="5" id="description" name="text" [(ngModel)]="details"></textarea>
                        Type:
                        <select class="form-select"(change)="changetype($event)">
                            <option value="choix du type"></option>
                            <option *ngFor="let item of types" [value]="item">{{item}}</option>
                            <option></option>
                           
                        
                        </select>
                        <div class="visuel" >
                            <h6>importer votre face avant</h6>
                            <div class="btn btne">
                                <label class="des" for="filess">
                                    Face avant
                                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                                </label>
                                <input type="file" name="u" id="filess" hidden  (change)="UploadImage($event)">
                            </div>
                        </div>
                        <div class="question" >
                            <h6>Y'a-t-il une face arrière?</h6>
                            <div class="oui">
                                <label for="">Oui</label>
                                <input type="radio" name="rd" id="rd" (click)="View1()">
                            </div>
                            <div class="oui">
                                <label for="">Non</label>
                                <input type="radio" name="rd" id="non" (click)="View2()">
                            </div>
                        </div>
                        <!--fin-->
                        <!--visuel-->
                        
                        <!--fin--> 
            
                        <!--maquette-->
                        <div class="FaceBack" *ngIf="visible">
                            <h6>Importer votre face arriere:</h6>
                            <div class="btn" >
                                <label class="des" for="file">
                                    Face arrière
                                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                                </label>
                                <input type="file" name="" id="file" hidden (change)="Uploade($event)" >
                            </div>
                            
                        </div>

                    </form>

                </div>

            </div>
    </div>
    <div class="col-6 image">

        <h4>Votre Face Avant</h4>
        <img [src]="viewimage" width="100" alt="">
        <br><br><br>
       
    </div>
   
    <div class="col-6  img">

        <h4>Votre Face arrière</h4>
        <img [src]="viewi" width="100" alt="">
        <br><br><br>
      
    </div>
    <div class="btn ">
        <a role="button" (click)="Editmodels($event)"> Editer</a>
    </div>
    <div class="btn ">
        <a role="button" >retour</a>
    </div>
</div>

  
