body{
    
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
   
}
html{
    height: 100%;
    background: green;
}
.row{
    position: relative;
    border: solid 1px #eee;
    left: 345px;
    width: 46%;
    padding: 70px;
    top: 111px;
    font-family: 'Poppins',sans-serif;
    border-radius: 30px;
}
.col-6{
    width:81%;
}
.form-group{
    margin: 18px;
}
.btn{
    width: 66%;
    border: solid 1px #eee;
    margin-left: 36px;
    background: #324161;
    color: white;
    font-family: 'Poppins',sans-serif;

}
input:focus{
    box-shadow: none;
}