<!-- Save Packaging -->
<br><br><br><br>
<app-editor *ngIf="hideeditor" [data]="packages"></app-editor>
<div class="container" *ngIf="hidepacks">
    <div class="row">
        <div class="col-6 " >
            <div class="container mt-3">

                <h4>Details Du Produit Emballage</h4>
                <form>
                    <div class="mb-3 mt-3">
                        <label for="name">Nom De l'article:</label>
                        <input type="name" class="form-control" id="name" placeholder="Nom du produit" name="name" [(ngModel)]="articlename">
                    </div>
                    <div class="mb-3">
                        <label for="price">Prix:</label>
                        <input type="text" class="form-control" id="price" placeholder="Le prix" name="price" [(ngModel)]="price">
                    </div>
                    <div class="mb-3">
                        <label for="price">Prix Promo</label>
                        <input type="text" class="form-control" id="dim" placeholder="Dimension" name="ppromo" [(ngModel)]="promoprice">
                    </div>
                            
                    <div class="mb-3">
                        Dimension:
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="15">15/20</label>
                            <input class="form-check-input" type="checkbox" id="15" (click)="showS1()" >
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="25">20/25</label>
                            <input class="form-check-input" type="checkbox" id="25" (click)="showS2()">
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="30">25/30</label>
                            <input class="form-check-input" type="checkbox" id="30" (click)="showS3()">
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="28">28/35</label>
                            <input class="form-check-input" type="checkbox" id="28" (click)="showS4()">
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="35">35/45</label>
                            <input class="form-check-input" type="checkbox" id="35" (click)="showS5()">
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="45">45/50</label>
                            <input class="form-check-input" type="checkbox" id="45" (click)="showS6()">
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="55">50/55</label>
                            <input class="form-check-input" type="checkbox" id="55" (click)="showS7()">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="quantity">Quantité:</label>
                        <input type="text" class="form-control" id="qty_disp" placeholder="Quantité" name="quantité" [(ngModel)]="quantity">
                    </div>
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="5" id="description" name="text" [(ngModel)]="details"></textarea>
                    Type:
                    <select class="form-select" (change)="changetype($event)">
                        <option value= "Choisir un type"></option>
                        <option *ngFor="let item of types" [value]="item">{{item}}</option>
                    </select>
                    <div class="question">
                        <h6>Y'a-t-il une face arrière?</h6>
                        <div class="oui">
                            <label >Oui</label>
                            <input type="radio" name="rd" id="rd" (click)="showoui()"  >
                        </div>
                        <div class="oui">
                            <label >Non</label>
                            <input type="radio" name="rd" id="non" (click)="showno()" >
                        </div>
                    </div>
                    <!--fin-->
                    <!--visuel-->
                    <div class="visuel" >
                        <h6>importer votre face avant</h6>
                        <div class="btn btne">
                  
                            <label class="des" for="filess">
                                Face avant
                                <i class="fas fa-arrow-circle-up fa-2x"></i>
                            </label>
                            <input type="file" name="u" id="filess" hidden  (change)="Upload($event)">
                        </div>
                    </div>
                    <!--fin--> 
                
                    <!--maquette-->
                    <div class="maquette" *ngIf="oui">
                        <h6>Importer votre face arriere:</h6>
                        <div class="btn" >
                            <label class="des" for="file">
                                Face arrière
                                <i class="fas fa-arrow-circle-up fa-2x"></i>
                            </label>
                            <input type="file" name="" id="file" hidden (change)="Uploade($event)" >
                        </div>
                       
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-6 image">
        <h4>Votre Face Avant</h4>
        <img [src]="viewimage" width="100" alt="">
        <br><br><br>
        
    </div>
    <div class="col-6  img">

        <h4>Votre Face arrière</h4>
        <img [src]="viewi" width="100" alt="">
        <br><br><br>
      
    </div>
    <div class="btn">
        <a role="button" (click)="register()">Editer</a>
    </div>
</div>

