nav{
    background:#324161 !important;
    padding: 25;
    top: 0%;
    color: white;
    font-family: 'Cochin',sans-serif;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.card{
    margin: 18px;
   
}
.card:hover{
   margin: 8px;
   background-image:url('/assets/backg.jpg');
   
    
     
  
}
